.wrapper{
    position: relative;
    overflow: hidden;
    background: rgba(15, 14, 14, 0.7 );
    margin: 250px auto 200px;
    width: 560px;
    height: 656px;
}

.head{
    padding-bottom: 25px;
    font-size: 24px;
    padding-top: 20px;
    border-bottom: #bac5b5 2px solid;
    width: 560px;
    margin: auto;

}

.head span{
    display: block;
    color: #ffffff;
    text-align: center;

}

.facebook{
    margin: 36px auto;
    width: 256px;

}

.line{
    color: rgb(153, 153, 153);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    margin-left: 22px;
}

.line:before,.line:after {
    position: absolute;
    top: 33%;
    margin-top: -1px;
    width: 123px;
    height: 2px;
    content: '';
    background-image: url("../img/line.png");
}
.line:before {
    left: 152px;
}

.line:after {
    right: 130px;
}

.form1, .form2, .form3, .form4,.form5 {
    text-indent: 16px;
}
.title {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-size: 11px;
}






















